{% trans_default_domain 'asf_layout' %}

<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
    <head>
    	{% block asf_base_encoding %}
        <meta charset="UTF-8" />
        {% endblock asf_base_encoding %}
        
        <title>
			{% block asf_base_meta_title %}{{ 'Home'|trans }}{% endblock %}
			{% block asf_base_meta_title_suffix %}{% endblock %}
        </title>
        
		{% block asf_base_meta %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
        {% endblock %}
        
        {% block asf_base_favicon %}
        	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% endblock asf_base_favicon %}
        
		{% block asf_base_header_stylesheets %}
			{% stylesheets '@twbs_css' filter="less" %}
            	<link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
            {% endstylesheets %}
		{% endblock %}
        
        {% block asf_base_header_javascripts %}
            {% javascripts '@jquery' '@twbs_js' %}
	        	<script src="{{ asset_url }}"></script>
	        {% endjavascripts %}
        {% endblock %}
    </head>
    
    {% block asf_base_body_tag %}
    <body>
    {% endblock asf_base_body_tag %}
    
    {% block asf_base_body %}
	<div class="container">
		{% block navbar %}
		<div class="header clearfix">
			{% block primary_menu %}
			<nav>
				<ul class="nav nav-pills pull-right">
					<li role="presentation" class="active"><a href="#">Home</a></li>
					<li role="presentation"><a href="#">About</a></li>
					<li role="presentation"><a href="#">Contact</a></li>
				</ul>
			</nav>
			{% endblock %}
			{% block project_name %}
			<h3 class="text-muted">Project name</h3>
			{% endblock %}
		</div>
		{% endblock %}
		
		<div class="row">
			{{ asf_flash_alerts() }}
		</div>
		
		{% block heading %}
		<div class="jumbotron">
			<h1>{% block heading_title %}Jumbotron heading{% endblock %}</h1>
			<p class="lead">{% block heading_lead %}Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.{% endblock %}</p>
			{% block heading_action_btn %}
			<p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
			{% endblock %}
		</div>
		{% endblock %}
		
		{% block content %}
		<div class="row marketing">
			<div class="col-lg-6">
				<h4>Subheading</h4>
				<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

				<h4>Subheading</h4>
				<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

				<h4>Subheading</h4>
				<p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
			</div>

			<div class="col-lg-6">
				<h4>Subheading</h4>
				<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

				<h4>Subheading</h4>
				<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

				<h4>Subheading</h4>
				<p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
			</div>
		</div>
		{% endblock %}
		
		{% block footer %}
		<footer class="footer">
			<p>&copy; 2015 Company, Inc.</p>
		</footer>
		{% endblock %}
	</div> <!-- /container -->    
    {% endblock asf_base_body %}
    
    {% block asf_base_footer_javascripts %}{% endblock asf_base_footer_javascripts %}
    
    </body>
</html>
