{% trans_default_domain 'asf_layout' %}

<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
    <head>
    	{% block asf_base_encoding %}
        <meta charset="UTF-8" />
        {% endblock asf_base_encoding %}
        
        <title>
        	{% block asf_base_meta_title_prefix %}{% endblock %}
			{% block asf_base_meta_title %}{{ 'Home'|trans }}{% endblock %}
			{% block asf_base_meta_title_suffix %}{% endblock %}
        </title>
        
        {% block asf_base_favicon %}
        	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% endblock asf_base_favicon %}
        
		{% block asf_base_header_stylesheets %}
			{% block test %}
			{% stylesheets '@twbs_css' filter="less" %}
            	<link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
            {% endstylesheets %}
            {% endblock %}
		{% endblock %}
        
        {% block asf_base_header_javascripts %}{% endblock %}
    </head>
    
    {% block asf_base_body_tag %}
    <body>
    {% endblock asf_base_body_tag %}
    
    {% block asf_base_body %}
	<div class="container">
		<div class="header clearfix">
			<nav>
				<ul class="nav nav-pills pull-right">
					<li role="presentation" class="active"><a href="#">Home</a></li>
					<li role="presentation"><a href="#">About</a></li>
					<li role="presentation"><a href="#">Contact</a></li>
				</ul>
			</nav>
			<h3 class="text-muted">Project name</h3>
		</div>

		<div class="row">
			{{ asf_flash_alerts() }}
		</div>

		<div class="jumbotron">
			<h1>Jumbotron heading</h1>
			<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
			<p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
		</div>
		
		<div class="row marketing">
			<div class="col-lg-6">
				<h4>Subheading</h4>
				<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

				<h4>Subheading</h4>
				<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

				<h4>Subheading</h4>
				<p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
			</div>

			<div class="col-lg-6">
				<h4>Subheading</h4>
				<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

				<h4>Subheading</h4>
				<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

				<h4>Subheading</h4>
				<p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
			</div>
		</div>

		<footer class="footer">
			<p>&copy; 2015 Company, Inc.</p>
		</footer>
		
	</div> <!-- /container -->    
    {% endblock asf_base_body %}
    
    {% block asf_base_footer_javascripts %}
    	{% javascripts '@jquery' '@twbs_js' %}
        	<script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock asf_base_footer_javascripts %}
    
    </body>
</html>