{# --------------------------------- Base Collection Form Type --------------------------------- #}
{% block base_collection_row %}
{% spaceless %}

	<style type="text/css">
	#{{ containerId }} .form-collection-cmd-wrapper {
	  background-color: #f7f7f9;
	  border: 1px solid #e1e1e8;
	  margin-bottom: 5px;
	  line-height: 3
	}
	#{{ containerId }} .form-collection-cmd-wrapper label {
	  margin: 0
	}
	#{{ containerId }} .list-collection .actions {
	  width: 50px;
	  vertical-align: middle;
	  text-align: center
	}
	#{{ containerId }} .list-collection .actions a {
	  color:#171717
	}
	#{{ containerId }} .list-collection .alert {
	  margin-top:5px;
	  padding: 5px
	}
    </style>

	{% if prototype is defined %}
		{% set attr = attr|merge({'data-prototype': block(collection_item_widget) }) %}
	{% endif %}
	
	<div class="container-fluid" id="{{ containerId }}">
		<div class="row form-collection-cmd-wrapper">
			<div class="col-xs-9">
				{{ form_label(form) }}
			</div>
			<div class="col-xs-3 text-right">
				<div class="btn-group btn-group-xs" role="group">
					<a href="#" title="{{ 'Add'|trans({}, 'asf_layout') }}" class="btn btn-default item-add">{{ icon('plus') }}</a>
				</div>
			</div>
		</div>
		
		<div class="row">
			{{ form_errors(form) }}
		</div>
		
		<div class="row">
			<div {{ block('widget_container_attributes') }}>
			    <table class="table table-striped table-bordered list-collection">
			    	{% set element_id = 0 %}
					{% for item in form %}
						<tr class="item" id="item-{{ item_id }}">
							<td>
								{{ form_row(item) }}
							</td>
							<td class="actions">
								<a href="#" title="{{ 'Delete'|trans({}, 'asf_layout') }}" class="delete-item">{{ icon('remove') }}</a>
							</td>
						</tr>
						{% set element_id = element_id + 1 %}
					{% endfor %}
				</table>
			</div>
		</div>

		<script type="text/javascript">
		(function($, window, document) {
			var item_count_{{ form.vars.id }} = $('#{{ form.vars.id }} .list-collection .item').length;
			$('#{{ containerId }} .item-add').click(function(e){
				e.preventDefault();

				var $collection = $('#{{ containerId }} .list-collection')
					, collectionParent = $collection.parent() 
					, prototype = $(collectionParent).attr('data-prototype')
					, prototype = prototype.replace(/__name__/g, item_count_{{ form.vars.id }}++)
					, $prototype = $(prototype);

				$collection.append($prototype);

				$prototype.find('.delete-item').click(function(e){
					e.preventDefault();
					$(this).parent().parent().remove();
				});
			});

			$('#{{ containerId }} .delete-item').click(function(e){
				e.preventDefault();
				$(this).parent().parent().remove();
			});
		
		}(window.jQuery, window, document));
		</script>

	</div>

{% endspaceless %}
{% endblock %}

{% block collection_item_widget %}
{% spaceless %}
<tr class="item" id="item-{{ item_id }}">
	<td>
		{{ form_row(prototype) }}
	</td>
	<td class="actions">
		<a href="#" title="{{ 'Delete'|trans({}, 'asf_layout') }}" class="delete-item">{{ icon('remove') }}</a>
	</td>
</tr>
{% endspaceless %}
{% endblock %}

{# --------------------------------- Date Picker Form Type --------------------------------- #}
{% block date_picker_widget %}
{% spaceless %}
	{{- block('datetime_widget') -}}
	<script type="text/javascript">
	(function($, window, document) {
		$(function() {
			if (typeof $.datepicker !== 'undefined') {
				$("#{{ form.vars['id'] }} input").datepicker({dateFormat: 'yy-mm-dd'});
			} else if (window.console) {
				console.log('If you want to use LayoutBundle DatePicker Form Type, you have to add jQuery UI in your page. See artscorestudio/layout-bundle documentation.');
			}
		});
	}(window.jQuery, window, document));
	</script>
{% endspaceless %}
{% endblock %}
